<app-journal-header></app-journal-header>
<main class="main-content">
    <div class="container">
        <section class="labels-section">
            <app-journal-button
                *ngFor="let button of buttons"
                class="labels-section__button"
                [isActive]="button.isActive"
                [id]="button.id"
                (click)="switchSection($event)"
            >
                {{button.title}}
            </app-journal-button>
        </section>
        <section class="data-section" [ngSwitch]="currentPanelId">
            <app-students-table *ngSwitchCase="0"></app-students-table>

        </section>
    </div>
</main>
