.main-content {
    padding: 75px 0;
}

.labels-section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
}

.labels-section__button {
    margin: 0 5px;
}

.data-section {
    padding: 20px 0;
}
