@import 'variables';

.journal-button {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    background: $light_gray;
    color: $text_color;
    font-size: 1.8rem;
    cursor: pointer;
    outline-color: transparent;
    border: none;
    transition: all .3s ease;
    box-sizing: border-box;
    min-width: 100px;
    font-weight: bold;
    &:hover {
        color: $accent_color;
        transform: scale(1.1);
    }
}

.journal-button_active {
    color: $accent_color;
    background: $dark_gray;
    font-weight: bold;
    transform: scale(1.1);
}
