@import 'variables';

.add-student-button {
    border-radius: 50%;
    background: $text_color;
    border: none;
    width: 80px;
    height: 80px;
    margin: 100px 0;
    cursor: pointer;
    transition: all .5s ease;
    outline-color: transparent;

    &:hover {
        transform: rotate(180deg);
        background: transparentize($accent_color, 0.4);
    }
}

.add_sign {
    width: 70%;
}
