<table class="students-table">
    <thead>
        <tr>
            <th class="table-data table-heading">Id</th>
            <th class="table-data table-heading">Name</th>
            <th class="table-data table-heading">Last Name</th>
            <th class="table-data table-heading">Adress</th>
        </tr>
        <tr>
            <td class="table-data">1</td>
            <td class="table-data">Aleh</td>
            <td class="table-data">Hela</td>
            <td class="table-data">blah blah blah</td>
        </tr>
        <tr>
            <td class="table-data">1</td>
            <td class="table-data">Aleh</td>
            <td class="table-data">Hela</td>
            <td class="table-data">blah blah blah</td>
        </tr>
    </thead>
</table>
