.students-table {
    border-collapse: collapse;
    width: 100%;
}
.table-data {
    padding: 10px;
    border: 3px solid #fff;
    text-align: center;
}

.table-heading {
    font-weight: bold;
    background: #f08080aa;
}
